# Inputs and Outputs

**NOTE: Typically we will just be either reading csv files directly or using pandas-datareader to pull data from the web. Consider this lecture just a quick overview of what is possible with pandas (we won't be working with SQL or Excel files in this course)**

## Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [2]:
import numpy as np
import pandas as pd

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

-----
----

# Reading in a  CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

#### Print your current directory file path with pwd

In [3]:
pwd

'/Users/abdullaharean/Desktop/AreanMLCookBook/03-Pandas'

#### List the files in your current directory with ls

In [4]:
ls

00-Series.ipynb
01-DataFrames.ipynb
02-Conditional-Filtering.ipynb
03-Useful-Methods.ipynb
04-Missing-Data.ipynb
05-Groupby-Operations-and-MultiIndex.ipynb
06-Combining-DataFrames.ipynb
07-Text-Methods.ipynb
08-Time-Methods.ipynb
09-Inputs-and-Outputs.ipynb
10-Pivot-Tables.ipynb
11-Pandas-Project-Exercise .ipynb
12-Pandas-Project-Exercise-Solution.ipynb
RetailSales_BeerWineLiquor.csv
Sales_Funnel_CRM.csv
example.csv
example.xlsx
hotel_booking_data.csv
movie_scores.csv
mpg.csv
my_excel_file.xlsx
new_file.csv
new_workbook.xlsx
newboom.csv
newfile.csv
pandaAreanwork.ipynb
reshaping_pivot.png
sample_table.html
simple.html
tips.csv

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

### CSV Input

In [5]:
df = pd.read_csv('example.csv')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df = pd.read_csv('example.csv',index_col=0)

In [8]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [9]:
df = pd.read_csv('example.csv')

In [10]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [11]:
df.to_csv('new_file.csv',index=False)

## HTML

Pandas can read table tabs off of HTML. This only works if your firewall isn't blocking pandas from accessing the internet!

Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    
    or
    
    pip install lxml
    
Then restart Jupyter Notebook (you may need to restart your computer).
(or use pip install if you aren't using the Anaconda Distribution)

## read_html

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects. NOTE: This only works with well defined <table> objects in the html on the page, this can not magically read in tables that are images on a page.

In [12]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [13]:
len(tables) #tables

29

### Not Useful Tables
Pandas found 26 tables on that page. Some are not useful:

In [14]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1930,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",126,30,14,13,12,12,11,15,20

### Tables that need formatting

Some will be misaligned, meaning you need to do extra work to fix the columns and rows:

In [15]:
tables[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia/New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Other Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [16]:
world_pop = tables[1]

In [17]:
world_pop.columns

Index(['Region', '2022 (percent)', '2030 (percent)', '2050 (percent)'], dtype='object')

In [20]:
world_pop = world_pop['World population (millions, UN estimates)[14]'].drop('#',axis=1)

KeyError: 'World population (millions, UN estimates)[14]'

In [21]:
world_pop.columns

Index(['Region', '2022 (percent)', '2030 (percent)', '2050 (percent)'], dtype='object')

In [22]:
world_pop.columns = ['Countries', '2000', '2015', '2030 Est.']
world_pop = world_pop.drop(11,axis=0)

KeyError: '[11] not found in axis'

In [ ]:
world_pop

        Countries  2000  2015 2030 Est.
0        China[B]  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

### Tables that are intact

In [ ]:
tables[6]

   Rank      Country  Population  Area (km2)  Density (Pop. per km2)
0     1    Singapore     5703600         710                    8033
1     2   Bangladesh   168870000      143998                    1173
2     3      Lebanon     6855713       10452                     656
3     4       Taiwan    23604265       36193                     652
4     5  South Korea    51780579       99538                     520
5     6       Rwanda    12374397       26338                     470
6     7        Haiti    11577779       27065                     428
7     8  Netherlands    17480000       41526                     421
8     9       Israel     9220000       22072                     418
9    10        India  1364080000     3287240                     415

## Write to html Output

If you are working on a website and want to quickly output the .html file, you can use to_html

In [ ]:
df.to_html('simple.html',index=False)

**read_html** is not perfect, but its quite powerful for such a simple method call!

# Excel Files

Pandas can read in basic excel files (it will get errors if there are macros or extensive formulas relying on outside excel files), in general, pandas can only grab the raw information from an .excel file.

#### NOTE: Requires the openpyxl and xlrd library! Its provided for you in our environment, or simply install with:

    pip install openpyxl
    pip install xlrd
    
Heavy excel users may want to check out this website: https://www.python-excel.org/

You can think of an excel file as a Workbook containin sheets, which for pandas means each sheet can be a DataFrame.

## Excel file input with read_excel()

In [ ]:
df = pd.read_excel('my_excel_file.xlsx',sheet_name='First_Sheet')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### What if you don't know the sheet name? Or want to run a for loop for certain sheet names? Or want every sheet?

Several ways to do this: https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file

In [ ]:
# Returns a list of sheet_names
pd.ExcelFile('my_excel_file.xlsx').sheet_names

['First_Sheet']

#### Grab all sheets

In [ ]:
excel_sheets = pd.read_excel('my_excel_file.xlsx',sheet_name=None)

In [ ]:
type(excel_sheets)

dict

In [ ]:
excel_sheets.keys()

dict_keys(['First_Sheet'])

In [ ]:
excel_sheets['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Write to Excel File

In [ ]:
df.to_excel('example.xlsx',sheet_name='First_Sheet',index=False)

# SQL Connections

#### NOTE: Highly recommend you explore specific libraries for your specific SQL Engine. Simple search for your database+python in Google and the top results should hopefully include an API.

* [MySQL](https://www.google.com/search?q=mysql+python)
* [PostgreSQL](https://www.google.com/search?q=postgresql+python)
* [MS SQL Server](https://www.google.com/search?q=MSSQLserver+python)
* [Orcale](https://www.google.com/search?q=oracle+python)
* [MongoDB](https://www.google.com/search?q=mongodb+python)

Let's review pandas capabilities by using SQLite, which comes built in with Python.

## Example SQL Database (temporary in your RAM)

You will need to install sqlalchemy with:

    pip install sqlalchemy
    
to follow along. To understand how to make a connection to your own database, make sure to review: https://docs.sqlalchemy.org/en/13/core/connections.html

In [ ]:
from sqlalchemy import create_engine

In [ ]:
temp_db = create_engine('sqlite:///:memory:')

### Write to Database

In [ ]:
tables[6]

   Rank      Country  Population  Area (km2)  Density (Pop. per km2)
0     1    Singapore     5703600         710                    8033
1     2   Bangladesh   168870000      143998                    1173
2     3      Lebanon     6855713       10452                     656
3     4       Taiwan    23604265       36193                     652
4     5  South Korea    51780579       99538                     520
5     6       Rwanda    12374397       26338                     470
6     7        Haiti    11577779       27065                     428
7     8  Netherlands    17480000       41526                     421
8     9       Israel     9220000       22072                     418
9    10        India  1364080000     3287240                     415

In [ ]:
pop = tables[6]

In [ ]:
pop.to_sql(name='populations',con=temp_db)

### Read from SQL Database

In [ ]:
# Read in an entire table
pd.read_sql(sql='populations',con=temp_db)

   index  Rank      Country  Population  Area (km2)  Density (Pop. per km2)
0      0     1    Singapore     5703600         710                    8033
1      1     2   Bangladesh   168870000      143998                    1173
2      2     3      Lebanon     6855713       10452                     656
3      3     4       Taiwan    23604265       36193                     652
4      4     5  South Korea    51780579       99538                     520
5      5     6       Rwanda    12374397       26338                     470
6      6     7        Haiti    11577779       27065                     428
7      7     8  Netherlands    17480000       41526                     421
8      8     9       Israel     9220000       22072                     418
9      9    10        India  1364080000     3287240                     415

In [23]:
# Read in with a SQL Query
pd.read_sql_query(sql="SELECT Country FROM populations",con=temp_db)

NameError: name 'temp_db' is not defined

In [ ]:

# Replace 'username' and 'password' with your MySQL credentials
username = 'root'
password = 'password'
db_name = 'new_db'
table_name = 'new_table'

# Create the MySQL engine to connect to the server
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost')

# Create the new database 'new_db' if it doesn't exist
with engine.connect() as connection:
    connection.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")

# Connect to the newly created 'new_db'
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost/{db_name}')

It is difficult to generalize pandas and SQL, due to a wide array of issues, including permissions,security, online access, varying SQL engines, etc... Use these ideas as a starting off point, and you will most likely need to do your own research for your own situation.